<!-- Page content -->
<div class="container mt--8 pb-5 top-mrg">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card deepSky-color shadow border-0">
        <div class="card-header bg-transparent">
          <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
          <div class="btn-wrapper text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon">
                <img src="../assets/img/icons/common/github.svg">
              </span>
              <span class="btn-inner--text">
                Github
              </span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Or sign in with credentials</small>
          </div>
          <form novalidate #loginForm="ngForm" id="loginForm" role="form">
            <custom-input-withicon [labelText]="''"
                                   [iconStyle]="'ni ni-email-83'"
                                   [formControlErrors]="emailIdControl.errors"
                                   [errorTypes]="{RequiredEmailId: '', InvalidEmailId: ''}">
              <input class="form-control form-txt"
                     name="emailIdControl"
                     id="emailIdControlId"
                     placeholder="Email"
                     type="email"
                     #emailIdControl="ngModel"
                     [(ngModel)]="userInfo && userInfo.emailID"
                     appCustomValidator autocomplete="off">
            </custom-input-withicon>
            <custom-input-withicon [labelText]="''"
                                   [iconStyle]="'ni ni-lock-circle-open'"
                                   [formControlErrors]="passwordControl.errors"
                                   [errorTypes]="{RequiredPassword: '', InvalidPassword: ''}">
              <input class="form-control form-txt"
                     name="passwordControl"
                     id="passwordControlId"
                     placeholder="Password"
                     type="password"
                     #passwordControl="ngModel"
                     [(ngModel)]="userInfo && userInfo.password"
                     appCustomValidator autocomplete="off">
            </custom-input-withicon>
            <!--<div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input"
                     id=" customCheckLogin"
                     type="checkbox">
              <label class="custom-control-label"
                     for="customCheckLogin">
                <span class="text-muted">
                  Remember me
                </span>
              </label>
            </div>-->
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4" (click)="signInOkClick()">Sign in</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a class="text-light" routerLinkActive="active" [routerLink]="['/resetpassword']"><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
          <a class="text-light" routerLinkActive="active" [routerLink]="['/register']"><small>Create new account</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
