<!-- Page content -->
<div class="container mt--8 pb-5 top-mrg">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-5">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent">
          <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Or sign up with credentials</small>
          </div>
          <form novalidate #signUpForm="ngForm" id="signUpForm" role="form">
            <div class="row">
              <div class="col-11">
                <custom-input-withicon [labelText]="''"
                                       [iconStyle]="'ni ni-email-83'"
                                       [formControlErrors]="emailIdControl.errors"
                                       [errorTypes]="{RequiredEmailId: '', InvalidEmailId: ''}">
                  <input class="form-control form-txt"
                         name="emailIdControl"
                         id="emailIdControlId"
                         placeholder="Email"
                         type="email"
                         #emailIdControl="ngModel"
                         [(ngModel)]="userInfo && userInfo.emailId"
                         appCustomValidator autocomplete="off">
                </custom-input-withicon>
              </div>
              <div class="col-1">

              </div>
            </div>

            <div class="row">
              <div class="col-11">
                <custom-input-withicon [labelText]="''"
                                       [iconStyle]="'ni ni-lock-circle-open'"
                                       [formControlErrors]="regPasswwordControl.errors"
                                       [errorTypes]="{RequiredPassword: '', InvalidPassword: ''}">
                  <input class="form-control form-txt"
                         name="regPasswwordControl"
                         id="regPasswwordControlId"
                         placeholder="Password"
                         type="password"
                         #regPasswwordControl="ngModel"
                         [(ngModel)]="userInfo && userInfo.password"
                         appCustomValidator autocomplete="off">
                </custom-input-withicon>
              </div>
              <div class="col-1">
                <i class="fa fa-info-circle"
                   ngbTooltip="To break lines &#013; in a text, &#013; use the element., &#013; use the element., &#013; use the element."
                   data-placement="right"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-11">
                <custom-input-withicon [labelText]="''"
                                       [iconStyle]="'ni ni-lock-circle-open'"
                                       [formControlErrors]="confirmPasswwordControl.errors"
                                       [errorTypes]="{RequiredPassword: '', InvalidPassword: ''}">
                  <input class="form-control form-txt"
                         name="confirmPasswwordControl"
                         id="confirmPasswwordControlId"
                         placeholder="Confirm Password"
                         type="password"
                         #confirmPasswwordControl="ngModel"
                         [(ngModel)]="userInfo && userInfo.confirmPassword"
                         appCustomValidator autocomplete="off">
                </custom-input-withicon>
              </div>
              <div class="col-1">
                <i class="fa fa-info-circle"
                   ngbTooltip="{{confirmPwdPolicy}}"
                   data-placement="left"></i>
              </div>
            </div>
            <div class="text-muted font-italic">
              <small>
                Password strength:
                <span class="text-success font-weight-700">
                  strong
                </span>
              </small>
            </div>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4" (click)="signUpOkClick()">Create account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
