<!-- Page content -->
<div class="container mt--8 pb-5 top-mrg">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent">
          <div class="text-center text-title">
            <small>Recover Password</small>
          </div>
        </div>
        <div class="card-body px-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Don't worry, happens to the best of us.</small>
          </div>
          <form novalidate #loginForm="ngForm" id="loginForm" role="form">
            <div class="row">
              <div class="col-11">
                <custom-input-withicon [labelText]="''"
                                       [iconStyle]="'ni ni-email-83'"
                                       [formControlErrors]="emailIdControl.errors"
                                       [errorTypes]="{RequiredEmailId: '', InvalidEmailId: ''}">
                  <input class="form-control form-txt"
                         name="emailIdControl"
                         id="emailIdControlId"
                         placeholder="Email"
                         type="email"
                         #emailIdControl="ngModel"
                         [(ngModel)]="userInfo && userInfo.emailId"
                         appCustomValidator autocomplete="off">
                </custom-input-withicon>
              </div>
              <div class="col-1">
                <i class="fa fa-info-circle"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-11">
                <custom-input-withicon [labelText]="''"
                                       [iconStyle]="'ni ni-lock-circle-open'"
                                       [formControlErrors]="passwwordControl.errors"
                                       [errorTypes]="{RequiredPassword: '', InvalidPassword: ''}">
                  <input class="form-control form-txt"
                         name="passwwordControl"
                         id="passwwordControlId"
                         placeholder="Password"
                         type="password"
                         #passwwordControl="ngModel"
                         [(ngModel)]="userInfo && userInfo.password"
                         appCustomValidator autocomplete="off">
                </custom-input-withicon>
              </div>
              <div class="col-1">
                <i class="fa fa-info-circle"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-11">
                <custom-input-withicon [labelText]="''"
                                       [iconStyle]="'ni ni-lock-circle-open'"
                                       [formControlErrors]="confirmPasswwordControl.errors"
                                       [errorTypes]="{RequiredPassword: '', InvalidPassword: ''}">
                  <input class="form-control form-txt"
                         name="confirmPasswwordControl"
                         id="confirmPasswwordControlId"
                         placeholder="Password"
                         type="password"
                         #confirmPasswwordControl="ngModel"
                         [(ngModel)]="userInfo && userInfo.password"
                         appCustomValidator autocomplete="off">
                </custom-input-withicon>
              </div>
              <div class="col-1">
                <i class="fa fa-info-circle"></i>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
