/*.form-txt, .ni {
  color: black !important;
}*/

.deepSky-color {
  background: deepskyblue !important;
}

.top-mrg {
  margin-top: 103px !important;
}

p {
  outline: none;
}

.field-warnging-icon, .field-errortext-color {
  color: red;
  padding-right: 10px;
  padding-left: 3px;
}

.field-label {
  font-size: 13px;
  font-weight: 500;
  overflow-wrap: break-word;
}

.edit {
  padding-bottom: 7px;
  padding-right: 7px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  display: block;
}

.profile-pic {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

.file-upload {
  display: none;
}

.circle {
  border-radius: 1000px !important;
  overflow: hidden;
  width: 128px;
  height: 128px;
  border: 8px solid rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 72px;
}

img {
  max-width: 100%;
  height: auto;
}

.p-image {
  position: absolute;
  top: 140px;
  right: 88px;
  color: #9eaab7;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
